<div class="jumbotron">

	<center>
		<h1>Welcome to the Dounut NUT!</h1>

		<img src="http://media-cdn.tripadvisor.com/media/photo-s/03/d6/4e/a8/fractured-prune.jpg">
		<br>

		<%= link_to "Check out our Dounuts!", pizza_path, class "btn btn-default" %>
	</center>
</div>
